<div class="all">
  <div class="container">
    <h2>Registro</h2>
    <span>Ingrese su información personal para realizar el registro:</span>
    <form name="registrationForm" (ngSubmit)="onSubmit()" #userForm="ngForm">
      <input type="text" id="cedula" name="cedula" placeholder="cedula" [(ngModel)]="userData.cedula" required>
      <input type="text" id="nombre" name="nombre" placeholder="nombre" [(ngModel)]="userData.nombre" required>
      <input type="tel" id="telefono" name="telefono" placeholder="teléfono" [(ngModel)]="userData.telefono" required>
      <input type="text" id="correo" name="correo" placeholder="correo electrónico" [(ngModel)]="userData.correo" required>
      <input type="text" id="direccion" name="direccion" placeholder="dirección" [(ngModel)]="userData.direccion" required>
      <input type="password" id="password" name="password" placeholder="contraseña" [(ngModel)]="userData.password" required>

      <input type="submit" value="Registrarse">
    </form>
  </div>
</div>
