  <div class="container">
    <div class="left-side">
      <h1>Bienvenido a mi página web</h1>
      <p>Esta es una descripción corta de la página.</p>

      <div class="button">Botón 1</div>
      <div class="button">Botón 2</div>
      <div class="button">Botón 3</div>
      <div class="button">Botón 4</div>
    </div>

    <div class="right-side">
      <img class="image" src="https://media.istockphoto.com/id/1435555882/es/foto/una-joven-veterinaria-examinando-a-un-gatito.jpg?b=1&s=612x612&w=0&k=20&c=SWZoKzbfP2dBAxftubczQYkU3kIgZmHntgnad6SywzY=" alt="Imagen">
    </div>
  </div>
