/* app.component.css */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px;
}

.header-right nav {
  display: flex;
  justify-content: flex-end;
}

nav a {
  color: #fff;
  margin-left: 10px;
  text-decoration: none;
  cursor: pointer; /* Add cursor property to change the cursor */
}

nav a:hover {
  color: #ff5500;
}

.page-name {
  color: #fff;
  margin: 0;
}

/* Insert any additional CSS style as needed */
