/* styles.css */

/* Estilo principal */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

h2 {
  color: #333;
  margin-top: 30px; /* Increase margin top */
}

/* Estilo del formulario de filtro */
.filter {
  background-color: #fff;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

label {
  font-weight: bold;
  margin-right: 10px; /* Increase margin right */
}

input[type="text"] {
  flex-grow: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.filter-btn {
  padding: 12px 30px;
  background-color: #007bff;
  color: #fff;
  border: 2px solid #007bff;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.filter-btn:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

/* Estilo de la tabla */
table.customer-list {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

table.customer-list th,
table.customer-list td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

/* Estilo de los mensajes de estado */
.empty-message,
.loading-message {
  margin-top: 20px;
  padding: 10px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  text-align: center;
  color: #666;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.empty-message p,
.loading-message p {
  margin: 0;
}